@model IEnumerable<OdeFoodData.Models.Resturant>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary",item);
}

